html {
    overflow-y: scroll;
}
body {
    text-align: center;
    overflow: hidden;
}
.team-maguro {
    background: #FFE0E0;
}
.team-tamago {
    background: #FFFFE0;
}
canvas {
    display : block;
    margin : auto;
}
h2 {
    font-family: "Merriweather", "Roboto", sans-serif;
}
